<%- include('partials/header'); -%>


    <main>
        <div class="blogs">
            <div class="blog">
                <h1 class="blog-heading">this is about</h1>
                <p class="blog-para">
                    <%=para%>
                </p>
            </div>

        </div>
    </main>

    </body>

    <%- include('partials/footer'); -%>