<%- include('partials/header'); -%>


    <main>
        <div class="blogs">




            <div class="blog">
                <h1 class="blog-heading">
                    <%=t%>
                </h1>
                <p class="blog-para">
                    <%=p%>
                </p>
            </div>


        </div>
    </main>

    </body>

    <%- include('partials/footer'); -%>